<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Registration</title>
   
</head>
<body>
    <form action="{{ url_for('handle_form') }}" method="post">
        <h1>Add a new user</h1>

        <div class="password-input">
            <input type="text" placeholder="user name" name="login" required>
            <input type="password" placeholder="password" name="password" id="password" required>
            <input type="password" placeholder="confirm password" name="password_confirmation" id="password_confirmation" required>
            <button type="button" class="toggle-password" id="toggle-password">See pass</button>
        </div>
        <button type="submit"class="logo glow-on-hover">Register</button>
    </form>
    <footer>
        <p>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}"class="logo glow-on-hover">Back</a></li>

            </ul>
        </nav>
        </p>
    </footer>

    <script>
        const togglePasswordButton = document.getElementById('toggle-password');
        const passwordInput = document.getElementById('password');

        togglePasswordButton.addEventListener('click', function() {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            togglePasswordButton.textContent = type === 'password' ? 'See pass' : 'Hide';
        });
    </script>
</body>
