<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <h2>{{ login }} <a href="{{ url_for('index') }}">Logout</a></h2>
    </header>
    <h1>Upload Video File</h1>
   
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit"/>
    </form>

    <p><a href="{{ url_for('choice') }}"class="logo glow-on-hover">Back</a></p>

    <main class="container">
        {% block content %} {% endblock %}
    </main>
</body>
</html>
